#login-container {
	margin-top:150px;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #F8F8F8;
    color:  #36454f;
    text-align: center;
}

#nav-buttons{
	width: 100%;
	position: relative;
	left: 10px;
	
}