body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("../images/404.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 83%;
}